@import './variables.css';
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

/*Background*/
.stars {
  position: fixed;
  inset: 0;
  pointer-events: none;

  background-image:
    radial-gradient(var(--background) 1px, transparent 1px);
  background-size: 1px 1px;

  opacity: 0.35;
}

.aurora {
  position: absolute;
  inset: 0;

  background:
    radial-gradient(circle at 5% 5%, var(--accent-one), transparent 10%),
    radial-gradient(circle at 50% 50%, var(--background), transparent 100%),
    radial-gradient(circle at 95% 95%, var(--accent-two), transparent 20%);

  filter: blur(120px);
  opacity: 0.7;

}

@keyframes auroraFloat {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.stars,
.aurora {
  position: fixed;
  inset: 0;

  pointer-events: none;

  z-index: -1; 
}
/*----------*/
.container-section{
  padding-top: 30px;
  padding-bottom: 30px;
}
.glow {
  transition: box-shadow 0.3s ease;
}

.glow-static {
  box-shadow: 0 0 40px color-mix(in srgb, var(--accent-one) 50%, transparent);
  border-color: var(--accent-two);
}

.glow:hover {
  box-shadow: 0 0 40px color-mix(in srgb, var(--accent-one) 50%, transparent);
  border-color: var(--accent-two);
}

.glow-text {
  transition: text-shadow 0.3s ease;
}

.glow-text:hover {
  text-shadow: 0 0 20px color-mix(in srgb, var(--accent-one) 85%, transparent);
}

.gradient {
  background: radial-gradient(
    circle,
    color-mix(in srgb, var(--accent-one) 40%, transparent) 0%,
    color-mix(in srgb, var(--accent-two) 100%, transparent) 100%
  );
}

.gradient-low {
  background: radial-gradient(
    circle,
    color-mix(in srgb, var(--accent-one) 20%, transparent) 0%,
    color-mix(in srgb, var(--accent-two) 30%, transparent) 100%
  );
}

.title, 
.highlight {
  font-family: var(--font-heading);
}

.subtitle-text,
.common-text {
  font-family: var(--font-body);
}

.title {
  font-size: 22px;
}

.subtitle-text,
.highlight {
  font-size: 20px;
}

.common-text {
  font-size: 18px;
}

.under-space-title {
  margin-bottom: 30px;
}
