/* src/styles/header.css */
.header {
  display: block;
  z-index: 1000;
  background-color: #000000;
  color: var(--text);
  border-bottom: 1px solid #2a2a2a;
  height: 100px;
}

.desktop-navbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.div-logo {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-links {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.header nav a {
  margin: 0 1rem;
}

.header select,
.header button {
  margin-left: 1rem;
}


.div-logo-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #8a9bf2;
  background: radial-gradient(circle, white, #88c2db, #f440c4);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.nav-links {
  margin: 0 1rem;
  color: var(--subtitle);
  font-size: 20px;
  font-family: var(--font-heading);
  letter-spacing: 1px;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.nav-links::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--subtitle);
  bottom: -4px;
  left: 0;
  transition: width 0.3s ease;
}

.nav-links:hover::after {
  width: 100%;
}


.theme-btn:hover {
  background-color: #f4b400;
  color: #000;
}

/* --Side bar Mobile */
.mobile-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background-color: var(--background);
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 0;
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--text);
  /* O ajusta según tu tema */
}


@media(min-width: 320px) and (max-width: 480px) {
  .desktop-navbar {
    display: none;
  }

  .mobile-sidebar {
    width: 100%;
  }

  .div-logo {
    width: 100%;
    height: 320px;
  }

  .div-links {
    width: 100%;
    flex-direction: column;
  }

  .div-links-a-div {
    margin: 30px 0px 30px 0px;
  }

}

@media (min-width: 480px) {
  .desktop-navbar {
    display: none;
  }

  .mobile-sidebar {
    width: 100%;
  }

  .div-logo {
    width: 100%;
    height: 320px;
  }

  .div-links {
    width: 100%;
    flex-direction: column;
  }

  .div-links-a-div {
    margin: 30px 0px 30px 0px;
  }
}

/* md — Tablet (768px - 1023px) */
@media (min-width: 768px) {
  .desktop-navbar {
    display: none;
  }

  .mobile-sidebar {
    width: 400px;
  }

  .div-logo {
    width: 100%;
    height: 320px;
  }

  .div-links {
    width: 100%;
    flex-direction: column;
  }

  .div-links-a-div {
    margin: 30px 0px 30px 0px;
  }
}

/* lg — Small laptop */
@media (min-width: 1024px) {
  .mobile-sidebar {
    display: none;
  }

  .desktop-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }

  .div-logo {
    width: 10%;
    height: 100%;
  }

  .div-links {
    width: 60%;
  }

}

/* xl — Desktop */
@media (min-width: 1280px) {
  .div-logo {
    width: 25%;
  }

  .div-links {
    width: 50%;
  }

}