:root {
  --font-heading: 'Julius Sans One', sans-serif;
  --font-body: 'Inter', sans-serif;

  --light-pink: #fdd9fc;
  --dark-pink: #a557a0;
  --purple-blue: #3a2492;
  --purple-ligth: #9289f7;
  --purple-pink: #ad80db;
}

body.light {
  --background: #FFFFFF;
  --main-text: #291f37;
  --accent-one: var(--dark-pink);
  --accent-two: var(--purple-blue);
  --glow: var(--purple-blue);
}

body.dark {
  --background: #0B0F1A;
  --main-text: #E5E7EB;
  --accent-one: var(--purple-ligth);
  --accent-two: var(--purple-blue);
  --glow: var(--purple-pink);
}
