:root {
  --cyan: #31C6EB;
  --purple: #3a4d8a;
  --dark-blue: #060045;
  --font-heading: 'Julius Sans One', sans-serif;
  --font-body: 'Inter', sans-serif;

  /*Light*/
  --light-pink: #fdd9fc;
  --light-blue: #3a2492;
  --dark-pink: #a557a0;
  --purple-blue: #3a2492;
   

  /*Dark*/
  --light-purple: #ad80db; 
  --purple-medium: #6c32b1;
  --purple-dark: #220f3a;
}

body.light {
  --background: #FFFFFF;
  --main-text: #291f37;
  --accent-one: var(--dark-pink);
  --accent-two: var(--purple-blue);
  --glow: var(--light-pink)
}

body.dark {
  --background: #0B0F1A;
  --main-text: #E5E7EB;
  --accent-one: var(--cyan);
  --accent-two: var(--dark-blue);
  --glow: var(--light-purple);
}


