:root {
  --cyan: #31C6EB;
  --purple: #523A8A;
  --dark-blue: #14477d;
  --font-heading: 'Julius Sans One', sans-serif;
  --font-body: 'Inter', sans-serif;
}

body.dark {
  --background: #0B0F1A;
  --background-second: #2A1F4D;
  --main-text: #E5E7EB;
  --accent-one: var(--cyan);
  --accent-two: var(--purple);
  --accent-three: var(--dark-blue);
  --support-ui-one: #6B7280;
  --support-ui-two: #1F2937;
}

body.light {
  --background: #FFFFFF;
  --background-second: #E5E7EB;
  --main-text: #1F2937;
  --accent-one: var(--cyan);
  --accent-two: var(--purple);
  --accent-three: var(--dark-blue);
  --support-ui-one: #CBD5E1;
  --support-ui-two: #CBD5E1;
}
