.languages-div {

    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto 10px auto;

}

.languages-content{
    display: flex;
    flex-direction:column;
}

.language-content {
    display:flex;
    justify-content: center;
    flex-direction: row;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.language-title{
    text-align: center;
    margin-bottom: 20px;
}


.language-title {
    text-transform: uppercase;
    font-weight: 500;
}

.language-level {
    color: #8a8a8b;
    width: 100%;
    text-align: left;
}

.language-dots-div, .language-desc-div{
    width: 50%;
}

.dots-progress-dot.dots-progress-dot-active {
    background: var(--languages-dots-background);
}

@media(min-width: 320px) and (max-width: 480px) {
    .languages-div {
        width: 80%;
    }
}

@media (min-width: 480px) {
    .languages-div {
        width: 80%;
    }
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}