.devicon-container {
  width: 80px;
  height: 80px;
  border-radius: 30px;
  background: var(--accent-two);
  display: flex;
  align-items: center;
  justify-content: center;
}

.devicon-container i {
  font-size: 40px;
}

.tech-stack-section {
  margin-top: 15px;
}

.tech-stack-title {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

.tech-stack-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}