/* Header container */
.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--main-text);
  padding: 2%;
  border-bottom: 1px solid var(--background-second);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Desktop: horizontal navbar */
@media (max-width: 1024px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    padding: 10%;
  }
}
