.div-settings {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    align-items: center;
}

.language-btn:hover {
    box-shadow:
        0 0 15px rgba(255, 255, 255, 0.4),
        0 0 25px rgba(81, 156, 166, 0.3),
        0 0 35px rgba(77, 31, 97, 0.2);
}

.theme-btn:hover {
    box-shadow:
        0 0 15px rgba(255, 255, 255, 0.4),
        0 0 25px rgba(81, 156, 166, 0.3),
        0 0 35px rgba(77, 31, 97, 0.2);
}

.bottom-bar {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid var(--line);
}

@media(min-width: 320px) and (max-width: 480px) {

    .div-settings {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media (min-width: 480px) {
    .div-settings {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* md — Tablet (768px - 1023px) */
@media (min-width: 768px) {
    .bottom-bar {
        padding-top: 40px;
    }
}


/* lg — Small laptop */
@media (min-width: 1024px) {

    .div-settings {
        width: 30%;
        display: flex;
        flex-direction: row;
    }

}

/* xl — Desktop */
@media (min-width: 1280px) {

    .div-settings {
        width: 30%;

    }
}