.hero-experience-div {
    flex-direction: column;
    justify-content: center;
}

.title-section {
  text-align: center;
}

.hero-experience-div>.title-div>h2 {
  text-align: center;
}

.vertical-timeline,
.vertical-timeline * {
    color: var(--main-text);
}

.vertical-timeline-element-content {
    background: var(--background) !important;
    color: var(--main-text) !important;
    border: 1px solid var(--accent-two);
    filter: drop-shadow(0 0 0px var(--accent-one)) drop-shadow(0 0 15px var(--accent-one));
    padding-bottom: 0 !important;
}

.vertical-timeline-element-content-arrow {
    border-right-color: var(--background) !important;
}

.vertical-timeline-element-title {
    font-family: var(--font-heading);
    font-weight: 500;
    font-size: 18px;
}

.project {
    border-radius: 12px;
    padding: 20px;
    margin: 10px;
}

.project:last-child {
    margin-bottom: 0;
}

@media (max-width: 1024px) {
  .hero-experience-div {
    width: 100%;
  }
}